<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title>{{title}}</title>




<!-- Stylesheets -->
<script src="https://kit.fontawesome.com/bf2d2c036b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" id="css-main" href="/assets/css/oneui.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<body>
    {{{body}}}



    <script src="/assets/js/oneui.app.min.js"></script>

    <!-- jQuery (required for jQuery Validation plugin) -->
    <script src="/assets/js/lib/jquery.min.js"></script>

    <!-- Page JS Code -->
    <script src="/assets/js/pages/be_pages_dashboard.min.js"></script>
</body>

</html>